.analyse-container {
    width: 100%;
    background: rgba(245, 246, 247, 1);
    position: relative;
    z-index: 1;
}
.background{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    z-index: 10;
}
.header {
    width: 100%;
    padding-left: 75px;
    padding-top: 50px;
}
.logo-container .logo {
    width: 250px;
}
.content-container {
    padding-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px 40px;
    position: relative;
    z-index: 5;
    
}
.content-container .one {
    grid-column: 1 span;
    grid-row: 3 span;
}
