.home-container {
    background-color: #F5F6F7;
    height: 100vh;
    
}
.header {
    width: 100%;
    padding-left: 75px;
    padding-top: 50px;

}
.logo-container .logo {
    width: 250px;
    
}

.logol-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.logol{
    width: 200px;
    margin-bottom: 50px;
}

.background{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    z-index: 0;
}
.content {
    width: 100%;
    display: flex;
    margin-top: 150px;
    padding: 0 50px;
    
}
.content .logol-container {
    border-right: 1.5px solid #D2D2D2;
    margin-right: 50px;
    padding-right: 50px;

}
.content .search-container {
    padding-top: 50px;
    position: relative;
    z-index: 2;
}
.search-container .add {
    margin-bottom: 100px;
}
.search-container .add .search{
    background: #F8F8F8;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
    font-size: 1.1rem;
    outline: none;
    margin-right: 40px;
}
.search-container .add .add-btn {
    background: #004182;
    border-radius: 50%;
    border: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 1.1rem;
    font-weight: bolder;
    cursor: pointer;
}
.keyWords {
    display: flex;
    align-items: center;
}
.keyWords-container {
    background-color: #ffffff;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 5px 15px;
    width: 100%;
    max-width: 300px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
}
.keyWords-container .keyWord {
    margin-right: 10px;
}
.keyWords .go-btn {
    border: none;
    padding: 10px 15px;
    background: #004182;
    border-radius: 80px;
}
.keyWords .go-btn a {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    font-size: 1.1rem;
    
}