.more-container {
    width: 100%;
    position: relative;
}
.return {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 9px;
    right: 35px;
    background-color: rgba(255, 39, 39, 1);
    border-radius: 10px;
}
.return::after {
    content: "x";
    position: absolute;
    top: 9px;
    left: 16px;
    font-size: 1.1rem;
    color: #fff;
    cursor: pointer;
}